.chat-features,
.list-panel {
  height: calc(100vh - 58px);
}

.chat-features {
  text-align: center;
  padding-right: 0;
  padding-left: 0;
  background-color: #2F2D4A;
}

.chat-features li {
  padding: 5px;
  font-size: 12px;
  color: #ffffff;
}

.chat-features li.active {
  padding-left: 2px;
  border-left: 3px solid #ffffff;
}

.channel-list li.active,
.users-list li.active,
.channel-list li:hover,
.users-list li:hover {
  background-color: #f1f1f1;
}

.chat-features li i {
  font-size: 1.2rem;
}

.chat-features li span {
  display: block;
}

.list-panel {
  box-shadow: -5px 0 8px rgb(0 0 0 / 14%);
}

.chat-channels h6,
.chat-userslist h6 {
  margin: 0;
  padding: 5px 0;
}

.chat-channels .bi-plus-square-fill,
.chat-features li,
.channel-list li,
.users-list li {
  cursor: pointer;
}