/* Header */
header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  font-size: 2rem;
}

.sign-out {
  display: inline-block;
  margin-left: 1rem;
  cursor: pointer;
}