html,
body,
#root,
.app-container {
  height: 100vh;
}

body {
  overflow: hidden;
}

.app-content {
  height: calc(100vh - 58px);
}

/* Header */
header {
  position: relative;
  z-index: 99;
  padding: 0 15px;
  box-shadow: rgb(0 0 0 / 20%) 0px 2px 4px -1px, rgb(0 0 0 / 14%) 0px 4px 5px 0px, rgb(0 0 0 / 12%) 0px 1px 10px 0px;
  background-color: var(--bs-blue);
  color: var(--bs-white);
}

.logo {
  padding: 5px 0;
  font-size: 2rem;
}

.space-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.chat-left-panel {
  border-right: 1px solid #ccc;
}

.chat-window {
  height: calc(100vh - 58px);
  background-color: #eee;
}

.chat-userslist {
  height: calc(100vh - 58px);
  border-left: 1px solid #ccc;
}