/* Chat window designs */
.chat-window {
  position: relative;
  padding-top: 15px;
  padding-bottom: 15px;
  box-shadow: 0 0 50px rgb(0 0 0 / 40%);
}

.chat-window-header,
.chat-window-form {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ddd;
  background-color: white;
}

.chat-window-form {
  height: 60px;
}

.chat-messages {
  height: calc(100% - 60px);
  overflow: hidden;
  overflow-y: auto;
}

.chat-window-form textarea {
  width: 80%;
  height: 50px;
  resize: none;
  border: 1px solid #ddd;
}

.message-box {
  display: flex;
  align-items: end;
  margin: 0 0 10px;
}

.message-box .col-md-1 {
  width: 50px;
  padding-right: 0;
}

.message-box img {
  width: 40px;
  overflow: hidden;
  border-radius: 50%;
}

.message-box .message {
  display: inline-block;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ddd;
  background-color: white;
}