/* Chat window designs */
.chat-window {
  position: relative;
  padding: 15px;
  padding-bottom: 5px;
  padding-right: 5px;
  box-shadow: -5px 0 8px rgb(0 0 0 / 14%);
}

.chat-window-header,
.chat-window-form {
  border-radius: 5px;
  background-color: white;
}

.chat-messages {
  height: calc(100% - 80px);
  overflow: hidden;
  overflow-y: auto;
}

.message-box {
  display: flex;
  align-items: end;
  margin: 0 0 10px;
}

.message-box .col-md-1 {
  width: 50px;
  padding-right: 0;
}

.message-box img {
  width: 40px;
  overflow: hidden;
  border-radius: 50%;
}

.message-box .message {
  display: inline-block;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ddd;
  background-color: white;
}

.chat-window-form {
  height: 80px;
}

.chat-window-form button {
  border: 0;
}

.chat-window-form i {
  font-weight: bold;
}

.chat-window-form textarea {
  width: 100%;
  height: 42px;
  padding: 7px 10px;
  resize: none;
  border-radius: 3px;
  border: 0;
  border-bottom: 2px solid #2F2D4A;
}

.chat-window-form textarea:focus {
  outline: none;
  border: 1px solid #2F2D4A;
  border-bottom: 2px solid #2F2D4A;
}
