/* form styles */
.login-page,
.register-page {
  height: 100vh;
}

.login-page .col-md-8,
.register-page .col-md-8 {
  background-color: #008DFF;
}

.login-page .col-md-4,
.register-page .col-md-4 {
  height: 100vh;
  display: flex;
  align-items: center;
}

.form-sign-in,
.form-register {
  width: 330px;
  margin: auto;
  text-align: center;
}

.form-sign-in input,
.form-register input {
  margin-bottom: 10px;
}

.form-sign-in .form-floating:focus-within,
.form-register .form-floating:focus-within {
  z-index: 2;
}